@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-mirage-50: #f6f6f9;
  --color-mirage-100: #ebecf3;
  --color-mirage-200: #d3d5e4;
  --color-mirage-300: #acb0cd;
  --color-mirage-400: #7f86b1;
  --color-mirage-500: #5f6898;
  --color-mirage-600: #4b527e;
  --color-mirage-700: #3e4366;
  --color-mirage-800: #363a56;
  --color-mirage-900: #30324a;
  --color-mirage-950: #1d1e2c;
  --color-strikemaster-50: #fcf7fb;
  --color-strikemaster-100: #f9eef8;
  --color-strikemaster-200: #f1ddee;
  --color-strikemaster-300: #e6c1df;
  --color-strikemaster-400: #d69cca;
  --color-strikemaster-500: #c075b1;
  --color-strikemaster-600: #9c528b;
  --color-strikemaster-700: #864575;
  --color-strikemaster-800: #6e3a60;
  --color-strikemaster-900: #5c3350;
  --color-strikemaster-950: #3a1830;
  --color-strikemaster-990: #A0217B;
  --color-swiss-coffee-50: #f9f7f7;
  --color-swiss-coffee-100: #f2eeee;
  --color-swiss-coffee-200: #e7e2e1;
  --color-swiss-coffee-300: #d7cdcc;
  --color-swiss-coffee-400: #bdaeac;
  --color-swiss-coffee-500: #a5908e;
  --color-swiss-coffee-600: #8d7775;
  --color-swiss-coffee-700: #756260;
  --color-swiss-coffee-800: #625352;
  --color-swiss-coffee-900: #544948;
  --color-swiss-coffee-950: #2b2524;
  --color-shuttle-gray-50: #f4f6f7;
  --color-shuttle-gray-100: #e4e8e9;
  --color-shuttle-gray-200: #cbd2d6;
  --color-shuttle-gray-300: #a7b2b9;
  --color-shuttle-gray-400: #7c8b94;
  --color-shuttle-gray-500: #617079;
  --color-shuttle-gray-600: #59656f;
  --color-shuttle-gray-700: #474f57;
  --color-shuttle-gray-800: #3f454b;
  --color-shuttle-gray-900: #383d41;
  --color-shuttle-gray-950: #22262a;
  --color-cod-gray-50: #f6f6f6;
  --color-cod-gray-100: #e7e7e7;
  --color-cod-gray-200: #d1d1d1;
  --color-cod-gray-300: #b0b0b0;
  --color-cod-gray-400: #888888;
  --color-cod-gray-500: #6d6d6d;
  --color-cod-gray-600: #5d5d5d;
  --color-cod-gray-700: #4f4f4f;
  --color-cod-gray-800: #454545;
  --color-cod-gray-900: #3d3d3d;
  --color-cod-gray-950: #0a0a0a;

}

.glitch:hover {
  text-shadow: 
    1px 0 #ff0000,
    -1px 0 #00ffff;
  animation: glitch 0.3s ease-in-out;
}

.animate-glitch:active {
  text-shadow: 
    1px 0 red,
    -1px 0 cyan;
  animation: glitch 0.3s ease-in-out;
}


/* --- FADE SLIDE LEFT --- */
@keyframes fadeSlideIn-left {
  0% {
    opacity: 1;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeSlideOut-left {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    transform: translateX(-40px);
  }
}

/* --- FADE SLIDE RIGHT --- */
@keyframes fadeSlideIn-right {
  0% {
    opacity: 1;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeSlideOut-right {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {

    transform: translateX(40px);
  }
}

/* --- Classes utilitaires --- */
.animate-fadeSlideIn-left {
  animation: fadeSlideIn-left 0.6s ease-out forwards;
}

.animate-fadeSlideOut-left {
  animation: fadeSlideOut-left 0.6s ease-in forwards;
}

.animate-fadeSlideIn-right {
  animation: fadeSlideIn-right 0.6s ease-out forwards;
}

.animate-fadeSlideOut-right {
  animation: fadeSlideOut-right 0.6s ease-in forwards;
}

.quizAside {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 45px;
  opacity: 0;
  z-index: 10;
}

/*  quiz Success */
@keyframes successLeft {
  0% { transform: translateX(-45px); }
  35% { transform: translateX(0); }
  98% { transform: translateX(-15px); }
  100% { transform: translateX(-45px); }
}

@keyframes successRight {
  0% { transform: translateX(45px); }
  35% { transform: translateX(0); }
  98% { transform: translateX(15px); }
  100% { transform: translateX(45px); }
}

/* Quiz Error */
@keyframes errorLeft {
  0% { transform: translateX(-45px); }
  15% { transform: translateX(0); }
  30% { transform: translateX(-25px); }
  45% { transform: translateX(-10px); }
  60% { transform: translateX(-35px); }
  90% { transform: translateX(0); }
  100% { transform: translateX(-45px); }
}

@keyframes errorRight {
  0% { transform: translateX(45px); }
  15% { transform: translateX(0); }
  30% { transform: translateX(25px); }
  45% { transform: translateX(10px); }
  60% { transform: translateX(35px); }
  90% { transform: translateX(0); }
  100% { transform: translateX(45px); }
}

.animate-success-left     { animation: successLeft 2s forwards; opacity: 1; }
.animate-success-right    { animation: successRight 2s forwards; opacity: 1; }
.animate-error-left       { animation: errorLeft 2s forwards; opacity: 1; }
.animate-error-right      { animation: errorRight 2s forwards; opacity: 1; }


/* --- Clignotement du point d’interrogation --- */
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1.5s infinite ease-in-out;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinks {
  50% {
    border-color: transparent;
  }
}

.animate-typing {
  display: inline-block;
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  animation:
    typing 5s steps(40, end) forwards,
    blinks 0.7s step-end infinite;
}


@keyframes glitch {
  0% { transform: translate(0); }
  25% { transform: translate(1px, -1px); }
  50% { transform: translate(-1px, 1px); }
  75% { transform: translate(1px, 1px); }
  100% { transform: translate(0); }
}

@keyframes floating {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-floating {
  animation: floating 4s ease-in-out infinite;
}

.animate-floating-delayed {
  animation: floating 4s ease-in-out infinite;
  animation-delay: 2s;
}


@keyframes blinkCursor {
  50% {
    border-color: transparent;
  }
}

.animate-cursor {
  animation: blinkCursor .8s step-end infinite;
}

.fade-in {
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.cryptic-glitch {
  position: relative;
  display: inline-block;
}

/* Les couches glitch */
.cryptic-glitch::before,
.cryptic-glitch::after {
  content: "Syntaxerrorisme";
  position: absolute;
  left: 0;
  opacity: 0;
  mix-blend-mode: screen;

  animation: crypticFlicker 15s infinite steps(1, end);
}

.cryptic-glitch::before {
  color: #00ff88;
}

.cryptic-glitch::after {
  color: #ff0040;
  animation-delay: .15s; 
}

@keyframes crypticFlicker {
  /* Phase "repos" (13s sur 15s) */
  0%, 86% {
    opacity: 0;
    transform: translate(0, 0);
  }

  /* Phase glitch active (les 2s restantes) */
  87% {
    opacity: .4;
    transform: translate(-2px, 5px);
  }

  88% {
    opacity: 0;
  }

  93% {
    opacity: .3;
    transform: translate(2px, -1px);
  }

  94% {
    opacity: 0;
  }
}

@keyframes microMove {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(1px, 1px);
  }
  25% {
    transform: translate(-2px, 2px);
  }
  33% {
    transform: translate(3px, -1px);
  }
  40% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(5px, -10px);
  }
  80% {
    transform: translate(0, 0);
  }
}

@keyframes macroMove {
  0% {
    transform: translate(0, 0);
  }
  80% {
    transform: translate(-355px, -10px);
  }
  82% {
    transform: translate(0, 0);
  }
}

.macro-move-glitch {
  display: inline-block;
  animation: macroMove 20s steps(1, end) infinite;
}

.micro-move-glitch {
  display: inline-block;
  animation: microMove 5s steps(1, end) infinite;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
