@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-mirage-50: #f6f6f9;
  --color-mirage-100: #ebecf3;
  --color-mirage-200: #d3d5e4;
  --color-mirage-300: #acb0cd;
  --color-mirage-400: #7f86b1;
  --color-mirage-500: #5f6898;
  --color-mirage-600: #4b527e;
  --color-mirage-700: #3e4366;
  --color-mirage-800: #363a56;
  --color-mirage-900: #30324a;
  --color-mirage-950: #1d1e2c;
  --color-strikemaster-50: #fcf7fb;
  --color-strikemaster-100: #f9eef8;
  --color-strikemaster-200: #f1ddee;
  --color-strikemaster-300: #e6c1df;
  --color-strikemaster-400: #d69cca;
  --color-strikemaster-500: #c075b1;
  --color-strikemaster-600: #9c528b;
  --color-strikemaster-700: #864575;
  --color-strikemaster-800: #6e3a60;
  --color-strikemaster-900: #5c3350;
  --color-strikemaster-950: #3a1830;
  --color-swiss-coffee-50: #f9f7f7;
  --color-swiss-coffee-100: #f2eeee;
  --color-swiss-coffee-200: #e7e2e1;
  --color-swiss-coffee-300: #d7cdcc;
  --color-swiss-coffee-400: #bdaeac;
  --color-swiss-coffee-500: #a5908e;
  --color-swiss-coffee-600: #8d7775;
  --color-swiss-coffee-700: #756260;
  --color-swiss-coffee-800: #625352;
  --color-swiss-coffee-900: #544948;
  --color-swiss-coffee-950: #2b2524;


}

.glitch:hover {
  text-shadow: 
    1px 0 red,
    -1px 0 cyan;
  animation: glitch 0.3s ease-in-out;
}

.animate-glitch:active {
  text-shadow: 
    1px 0 red,
    -1px 0 cyan;
  animation: glitch 0.3s ease-in-out;
}

@keyframes glitch {
  0% { transform: translate(0); }
  25% { transform: translate(1px, -1px); }
  50% { transform: translate(-1px, 1px); }
  75% { transform: translate(1px, 1px); }
  100% { transform: translate(0); }
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
